.pixelart {
  display:flex;
  div, ul {
    width: 50%;
    border: 5px purple dashed;
  }
  .tsparticles-canvas-el {
    background: radial-gradient(#fc46b0b9 54%, #fbdf3f);
    box-shadow: inset 0px 0px 40px 40px#ffeb3b8f;
    border-radius: 0 35% 45% 0;
    height: 85%;
  }
}
